table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid var(--table-border-color);
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color); /* Cambiado a blanco */
}

table tr {
    background-color: var(--table-bg-color);
}

table tr:hover {
    background-color: var(--table-hover-color);
}